* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
:root {
	--spanish-gray: hsl(0, 0%, 60%);
	--sonic-silver: hsl(0, 0%, 47%);
	--eerie-black: hsl(0, 0%, 13%);
	--salmon-pink: hsl(353, 100%, 78%);
	--sandy-brown: hsl(29, 90%, 65%);
	--bittersweet: hsl(0, 100%, 70%);
	--ocean-green: hsl(152, 51%, 52%);
	--davys-gray: hsl(0, 0%, 33%);
	--cultured: hsl(0, 0%, 93%);
	--white: hsl(0, 100%, 100%);
	--onyx: hsl(0, 0%, 27%);
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 5rem;
	border-bottom: 1px solid var(--cultured);
}
.top-icon {
	display: flex;
	text-align: center;
	font-size: 1.5rem;
	list-style: none;
	gap: 5px;
}
.top-icon a {
	color: var(--spanish-gray);
}
.top-icon a :hover {
	color: var(--salmon-pink);
}
.header-top h1 {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--sonic-silver);
	text-transform: uppercase;
}
.header-top h1 span {
	color: var(--davys-gray);
}
.header-top .select-bar .language {
	text-transform: uppercase;
}
.header-mid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	border-bottom: 1px solid var(--cultured);
	text-align: right;
}
.mid-logo {
	width: 9%;
}
.mid-search input {
	padding: 0.5rem 20rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--cultured);
}
.mid-search button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.mid-icon {
	font-size: 2.3rem;
}
.mid-icon a {
	color: black;
	gap: 100px;
}
.header-down ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 22rem;
}
.header-down ul {
	list-style: none;
	text-transform: uppercase;
}
.header-down ul li a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	font-weight: 500;
}
.header-down ul li :hover {
	color: var(--salmon-pink);
}
section.slider img {
	width: 87%;
	height: 450px;
	object-fit: cover;
	display: block;
	margin: 0.1rem auto;
	border-radius: 0.7rem;
	margin-bottom: 2rem;
	display: block;
}
section.slider .slide {
	position: relative;
}
section.slider .container {
	width: 30%;
	position: absolute;
	left: 15%;
	top: 6rem;
	border-radius: 5px;
}
section.slider .slide h1 {
	color: var(--salmon-pink);
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
section.slider .slide h2 {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
}
section.slider .slide p {
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--sonic-silver);
	margin-bottom: 1rem;
}
section.slider .slide p span {
	font-size: 2rem;
	font-weight: 700;
}
section.slider .slide button {
	padding: 0.5rem 1.2rem;
	border: none;
	color: var(--white);
	background: var(--salmon-pink);
	border-radius: 0.3rem;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
section.slider .slide button:hover {
	background: black;
}
section.slider .nav {
	text-align: center;
}

section.all-cards {
	display: flex;
	justify-content: space-between;
}
section.all-cards .card {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	width: 250px;
	transition: 0.3s ease;
}
section.all-cards .card .icon img {
	width: 45px;
	height: 45px;
	object-fit: contain;
	border: 1px solid var(--cultured);
	border-radius: 6px;
	background: #f9f9f9;
	padding: 5px;
	margin-right: 15px;
}

section.all-cards .card .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}
section.all-cards .card .title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section.all-cards .card .title-row h3 {
	font-size: 15px;
	font-weight: 600;
	color: #000;
}
section.all-cards .card .title-row span {
	font-size: 13px;
	color: #555;
}
section.all-cards .card a {
	font-size: 13px;
	color: #f27b8f;
	text-decoration: none;
	margin-top: 4px;
	font-weight: 500;
}

section.Services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem 6rem;
}
section.Services .testi-img {
	display: flex;
	justify-content: center;
}
section.Services .testi-img img {
	width: 40%;
	border-radius: 9rem;
	margin-bottom: 1.5rem;
}
section.Services .testi .testi-text {
	text-align: center;
}
section.Services .service-charts {
	padding: 0rem 2.8rem;
}
section.Services .service-charts h4 {
	font-size: 1.2rem;
	font-weight: 600;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--cultured);
	margin-bottom: 1rem;
}
section.Services .service-charts .total {
	border: 1px solid var(--cultured);
	border-radius: 1rem;
	padding: 0.6rem 1.5rem;
}

section.Services .icon {
	font-size: 2rem;
	color: var(--salmon-pink);
}
section.Services .inform {
	display: flex;
	margin-bottom: 22px;
}
section.Services .inform h1 {
	font-size: 1rem;
	font-weight: 600;
	color: var(--sonic-silver);
	margin-bottom: 0.2rem;
}
section.Services .inform p {
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--sonic-silver);
}
section.Services .inform .space {
	margin-left: 0.9rem;
}
section.Services .testi-all {
	padding: 2rem 3.7rem;
	border: 1px solid var(--cultured);
	border-radius: 1rem;
	margin: 1.6rem 2rem;
}
section.Services .testi h4 {
	font-size: 1.1rem;
	font-weight: 600;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--cultured);
	padding: 0.4rem 2rem;
}
section.Services .testi-text h1 {
	font-size: 1.1rem;
	font-size: 600;
	text-transform: uppercase;
	color: var(--sonic-silver);
}
section.Services .testi-text h2 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--onyx);
	margin-bottom: 1rem;
}
section.Services .testi-text img {
	width: 28px;
	margin-bottom: 1rem;
}
section.Services .testi-text p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--sonic-silver);
}

section.Services .discount-text {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	padding: 3.5rem 1rem;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	top: -50%;
}
section.Services .discount-text a {
	text-decoration: none;
	background: var(--eerie-black);
	color: var(--white);
	text-transform: uppercase;
	padding: 0.4rem 0.3rem;
	border-radius: 0.3rem;
	font-size: 1rem;
	font-weight: 600;
}
section.Services .discount img {
	border-radius: 1rem;
	width: auto;
	height: 70%;
	object-fit: cover;
}
section.Services .discount-text h1 {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--onyx);
}
section.Services .discount-text h2 {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--sonic-silver);
	margin-bottom: 0.4rem;
}
section.Services .discount-text h3 {
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--sonic-silver);
}

section.blog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 4rem;
}
section.blog .small-blog img {
	width: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	object-fit: cover;
}
section.blog .small-blog a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	color: var(--salmon-pink);
}
section.blog .small-blog h1 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.3rem;
}
section.blog .small-blog h1:hover {
	color: var(--salmon-pink);
}
section.blog .small-blog p {
	font-size: 0.7;
	font-weight: 400;
	color: var(--sonic-silver);
	margin-bottom: 3rem;
}
section.blog .small-blog .blog-text {
	padding: 0 1.2rem;
}
footer {
	background: var(--eerie-black);
}
footer .footer-category {
	padding: 3.6rem 5.2rem;
	border-bottom: 1px solid var(--sonic-silver);
}
footer .footer-category .category-list {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.6rem;
}
footer .footer-category h1 {
	color: var(--salmon-pink);
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.9rem;
}
footer .footer-category .category-list h2 {
	color: var(--spanish-gray);
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
footer .footer-category .category-list a {
	color: var(--sonic-silver);
	text-decoration: none;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 400;
}
footer .footer-category .category-list a:hover {
	color: var(--spanish-gray);
}

footer .footer-nav {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0rem;
	padding: 3.6rem 5.2rem;
	border-bottom: 1px solid var(--sonic-silver);
}
footer .footer-nav .nav-item {
	text-align: left;
}
footer .footer-nav .nav-item h1 {
	color: var(--white);
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.3rem;
	border-bottom: 1px solid var(--salmon-pink);
	width: fit-content;
}

footer .footer-nav .nav-item a {
	color: var(--sonic-silver);
	text-decoration: none;
	display: grid;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.4rem;
}
footer .footer-nav .nav-item a:hover {
	color: var(--salmon-pink);
}

footer .footer-bottom img {
	margin: auto;
	display: flex;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
footer .footer-bottom h1 {
	color: var(--sonic-silver);
	text-align: center;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	padding-bottom: 2rem;
}
