* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
:root {
	--spanish-gray: hsl(0, 0%, 60%);
	--sonic-silver: hsl(0, 0%, 47%);
	--eerie-black: hsl(0, 0%, 13%);
	--salmon-pink: hsl(353, 100%, 78%);
	--sandy-brown: hsl(29, 90%, 65%);
	--bittersweet: hsl(0, 100%, 70%);
	--ocean-green: hsl(152, 51%, 52%);
	--davys-gray: hsl(0, 0%, 33%);
	--cultured: hsl(0, 0%, 93%);
	--white: hsl(0, 100%, 100%);
	--onyx: hsl(0, 0%, 27%);
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 5rem;
	border-bottom: 1px solid var(--cultured);
}
.top-icon {
	display: flex;
	text-align: center;
	font-size: 1.5rem;
	list-style: none;
	gap: 5px;
}
.top-icon a {
	color: var(--spanish-gray);
}
.top-icon a :hover {
	color: var(--salmon-pink);
}
.header-top h1 {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--sonic-silver);
	text-transform: uppercase;
}
.header-top h1 span {
	color: var(--davys-gray);
}
.header-top .select-bar .language {
	text-transform: uppercase;
}
.header-mid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	border-bottom: 1px solid var(--cultured);
	text-align: right;
}
.mid-logo {
	width: 9%;
}
.mid-search input {
	padding: 0.5rem 20rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--cultured);
}
.mid-search button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.mid-icon {
	font-size: 2.3rem;
}
.mid-icon a {
	color: black;
	gap: 100px;
}
.header-down ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 22rem;
}
.header-down ul {
	list-style: none;
	text-transform: uppercase;
}
.header-down ul li a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	font-weight: 500;
}
.header-down ul li :hover {
	color: var(--salmon-pink);
}
section.slider img {
	width: 87%;
	height: 450px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
	border-radius: 0.5rem;
}

