* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
:root {
	--spanish-gray: hsl(0, 0%, 60%);
	--sonic-silver: hsl(0, 0%, 47%);
	--eerie-black: hsl(0, 0%, 13%);
	--salmon-pink: hsl(353, 100%, 78%);
	--sandy-brown: hsl(29, 90%, 65%);
	--bittersweet: hsl(0, 100%, 70%);
	--ocean-green: hsl(152, 51%, 52%);
	--davys-gray: hsl(0, 0%, 33%);
	--cultured: hsl(0, 0%, 93%);
	--white: hsl(0, 100%, 100%);
	--onyx: hsl(0, 0%, 27%);
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 5rem;
	border-bottom: 1px solid var(--cultured);
}
.top-icon {
	display: flex;
	text-align: center;
	font-size: 1.5rem;
	list-style: none;
	gap: 5px;
}
.top-icon a {
	color: var(--spanish-gray);
}
.top-icon a :hover {
	color: var(--salmon-pink);
}
.header-top h1 {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--sonic-silver);
	text-transform: uppercase;
}
.header-top h1 span {
	color: var(--davys-gray);
}
.header-top .select-bar .language {
	text-transform: uppercase;
}
.header-mid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	border-bottom: 1px solid var(--cultured);
	text-align: right;
}
.mid-logo {
	width: 9%;
}
.mid-search input {
	padding: 0.5rem 20rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--cultured);
}
.mid-search button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.mid-icon {
	font-size: 2.3rem;
}
.mid-icon a {
	color: black;
	gap: 100px;
}
.header-down ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 22rem;
}
.header-down ul {
	list-style: none;
	text-transform: uppercase;
}
.header-down ul li a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	font-weight: 500;
}
.header-down ul li :hover {
	color: var(--salmon-pink);
}
section.slider img {
	width: 87%;
	height: 450px;
	object-fit: cover;
	display: block;
	margin: 0.1rem auto;
	border-radius: 0.7rem;
	margin-bottom: 2rem;
	display: block;
}
section.slider .slide {
	position: relative;
}
section.slider .container {
	width: 30%;
	position: absolute;
	left: 15%;
	top: 6rem;
	border-radius: 5px;
}
section.slider .slide h1 {
	color: var(--salmon-pink);
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
section.slider .slide h2 {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
}
section.slider .slide p {
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--sonic-silver);
	margin-bottom: 1rem;
}
section.slider .slide p span {
	font-size: 2rem;
	font-weight: 700;
}
section.slider .slide button {
	padding: 0.5rem 1.2rem;
	border: none;
	color: var(--white);
	background: var(--salmon-pink);
	border-radius: 0.3rem;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
section.slider .slide button:hover {
	background: black;
}
section.slider .nav {
	text-align: center;
}
section.all-cards {
	display: flex;
	justify-content: space-between;
}

section.all-cards .card {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	width: 250px;
	transition: 0.3s ease;
}
section.all-cards .card .icon img {
	width: 45px;
	height: 45px;
	object-fit: contain;
	border: 1px solid var(--cultured);
	border-radius: 6px;
	background: #f9f9f9;
	padding: 5px;
	margin-right: 15px;
}

section.all-cards .card .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

section.all-cards .card .title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.all-cards .card .title-row h3 {
	font-size: 15px;
	font-weight: 600;
	color: #000;
}

section.all-cards .card .title-row span {
	font-size: 13px;
	color: #555;
}

section.all-cards .card a {
	font-size: 13px;
	color: #f27b8f;
	text-decoration: none;
	margin-top: 4px;
	font-weight: 500;
}

section.Services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
}
