* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
:root {
	--spanish-gray: hsl(0, 0%, 60%);
	--sonic-silver: hsl(0, 0%, 47%);
	--eerie-black: hsl(0, 0%, 13%);
	--salmon-pink: hsl(353, 100%, 78%);
	--sandy-brown: hsl(29, 90%, 65%);
	--bittersweet: hsl(0, 100%, 70%);
	--ocean-green: hsl(152, 51%, 52%);
	--davys-gray: hsl(0, 0%, 33%);
	--cultured: hsl(0, 0%, 93%);
	--white: hsl(0, 100%, 100%);
	--onyx: hsl(0, 0%, 27%);
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 5rem;
}
.top-icon {
	display: flex;
	text-align: center;
	font-size: 1.5rem;
	list-style: none;
}
.header-top h1 {
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--sonic-silver);
	text-transform: uppercase;
}
.header-top h1 span {
	color: var(--davys-gray);
}
.header-top .select-bar .language {
	text-transform: uppercase;
}
.header-mid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 5rem;
}
.mid-logo {
	width: 9%;
}
.mid-search input {
	padding: 0.5rem 25rem;
	text-align: left;
}


