* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Spartan, sans-serif;
}
section.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #e3e6f3;
	box-shadow: rgb(0, 0, 0, 0);
}
.navbar {
	display: flex;
	align-items: center;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
}
.navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}